footer{
    background-color: black;
    color: white;
}
.cropped-image{
    width: 500px;
    height: 500px;
    opacity: 0.5;
    object-fit: cover;

}
.right-allign{
    text-align: right;
}

/* /navbar highlight */
.navbar li:nth-child(3) a {
    background-color: rgb(166, 30, 184);
    color: rgb(255, 255, 255); 
}

